/* Общие стили. Каркас
   ==========================================================================
*/

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansCondensed-Bold.woff2") format("woff2"),
      url("../fonts/OpenSansCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
      url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #232321;
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.content {
  display: flex;
  /* margin: 100px 50px 50px 50px; */
  font-family: sans-serif;
}

/* Хедер сайта
   ==========================================================================
*/

.page-header {
  margin-top: 30px;
  padding-top: 30px;
  border-bottom: solid 1px #cccccc;
}

.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: start;
     -ms-flex-align: start;
        align-items: flex-start;

  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  padding-bottom: 20px;
}

#area {
  width: 156px;
  border: 1px solid #000;
  margin: 0 auto;
  font-size: 0;
}

/*
 * Логотип разработчика
*/

.logo {
  padding: 5px 15px;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 6px;
}

.logo__developer {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.logo__link {
  text-decoration: none;
  color: #cccccc;
}

.cell {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 26px;
  border: 1px solid #000;
  cursor: pointer;
  vertical-align: middle;
  transition: background .1s;
}

.cell:hover {
  background-color: #F1F1F1;
}

.currentPlayer {
  width: 140px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.stat {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.stat table {
  border-collapse: collapse;
}

.stat table,
.stat th,
.stat td {
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
}

/* Подвал сайта
   ==========================================================================
*/

.page-footer {
  margin-top: 30px;
  padding-top: 30px;
  border-top: solid 1px #cccccc;
}

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: start;
     -ms-flex-align: start;
        align-items: flex-start;

  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
}


/*
 * Копирайт Академии
*/

.copyright {
  font-size: 12px;
}

.copyright__link--image:hover,
.copyright__link--image:focus {
  opacity: 0.6;
}

.copyright__link--text {
  color: #ffffff;
}

.copyright__link--text:hover,
.copyright__link--text:focus {
  opacity: 0.6;
}

.page-footer__contacts {
  background-color: inherit;
}


/*
 * Ссылки на социальные сети
*/

.contacts {
  margin: 0;
  padding: 0;
  list-style: none;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__link {
  display: block;

  width: 29px;
  height: 29px;
  margin-left: 10px;

  font-size: 0;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;

  opacity: 0.6;
  cursor: pointer;
  /* outline: none; */
}

.contacts__link:hover,
.contacts__link:focus {
  opacity: 1;
  /* outline: #e69c08; */
}

.contacts__link--twitter {
  background-position: -5px -270px;
}

.contacts__link--instagram {
  background-position: -5px -231px;
}

.contacts__link--facebook {
  background-position: -5px -192px;
}

.contacts__link--vk {
  background-position: -5px -309px;
}

/* Блок с фильтрами изображений других пользователей
   ==========================================================================
*/

.img-filters {
  padding: 20px 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
}

.img-filters--inactive {
  opacity: 0;
}

.img-filters__button {
  padding: 5px 15px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: auto; */
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
  background-color: #232321;
  color: #cccccc;
  border: none;
}

.img-filters__link {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #232321;
  color: #cccccc;
  border: none;
}

.img-filters__button--active .img-filters__link {
  color: #ff4e4e;
  background-color: transparent;
  background-color: #ffffff;
  border-radius: 2px;
}

.img-filters__button:active,
.img-filters__button--active {
  color: #ff4e4e;

  background-color: #ffffff;
  border-radius: 2px;
}

.img-filters__label {
  padding: 5px 15px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: auto;

  cursor: pointer;
}

.img-filters__radio:focus + .img-filters__label {
  outline: auto 5px highlight;
}

.img-filters__radio:checked + .img-filters__label {
  color: #ff4e4e;
  text-decoration: none;

  background-color: #ffffff;
  border-radius: 2px;
}
